
.title{
  padding: 12px 24px;
  background-color: rgb(27, 7, 87);
}

.title a{
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

#welcome-title{
  font-size: 40px;
}

#welcome-body{
  font-size: 24px;
}

.welcome{
  text-align: center;
}